.Menu1 {
    margin: 31px 50px 67px 5px;
    font-family: BPGWEB001Caps;
    font-size: 25px;
    text-align: left;
    color: #2c2c2c;
    display: block;
    float: left;
    position: relative;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
}

.Menu2 {
    margin: 31px 80px 67px 40px;
    font-family: BPGWEB001Caps;
    font-size: 25px;
    text-align: left;
    color: #2c2c2c;
    display: inline;
    float: left;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
}

.file {
    width: 254px;
    height: 75px;
    margin: 0 160px 48px 89.8px;
    object-fit: contain;
    display: inline;
    float: left;
    position: relative;
}

.Menu {
    list-style-type: none;
}

.Rectangle-71 {
    margin: 2px 34px 50px 85px;
    border-radius: 5px;
    background-color: #971d62;
    width: 246px;
    height: 71px;
    font-family: BPGMrgvlovani;
    font-size: 24px;
    text-align: center;
    color: white;
    float: left;
    position: relative;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Rectangle-70 {
    margin: 2px 56px 50px 34px;
    border-radius: 5px;
    background-color: #971d62;
    width: 246px;
    height: 71px;
    font-family: BPGMrgvlovani;
    font-size: 24px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    position: relative;
    text-decoration: none;
}

.search {
    width: 42.6px;
    height: 42.6px;
    margin: 20.5px 30px 60px 30px;
    display: inline;
    float: left;
    position: relative;
}

.swiper-container {
    width: 1900px;
    height: 661px;
    margin: 44px 0 43px;
    padding: 294px 23px 293.4px 13.4px;
    object-fit: contain
  }

.title {
    margin: 51px 74px 29px 140px;
    font-family: BPGWEB001Caps;
    font-size: 48px;
    text-align: left;
    color: #2c2c2c;
    font-weight: bold;
}

.title2 {
    margin: 56px 140px 37px 141px;
    font-family: BPGMrgvlovani;
    font-size: 31px;
    text-align: right;
    color: #77be39;
}

.title3 {
    font-family: BPGWEB001Caps;
    font-size: 39px;  
    color:black;
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.sesxi{
position: relative;
text-align: center;
}

.sesxi1 {
    width: 800px;
    height: 560px;
    margin: 28px 16px 108px 120px;
    border-radius: 20px;
    flex-basis: 50%;
    float: left;
    position: relative;
    display: flex;
}

.sesxi2 {
    width: 800px;
    height: 560px;
    margin: 28px 120px 108px 16px;
    border-radius: 20px;
    flex-basis: 50%;
    float: left;
    position: relative;
    display: flex;
}

