.Menu1 {
    margin: 31px 50px 67px 5px;
    font-family: BPGWEB001Caps;
    font-size: 25px;
    text-align: left;
    color: #2c2c2c;
    display: block;
    float: left;
    position: relative;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
}

.Menu2 {
    margin: 31px 80px 67px 40px;
    font-family: BPGWEB001Caps;
    font-size: 25px;
    text-align: left;
    color: #2c2c2c;
    display: inline;
    float: left;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
}

.file {
    width: 254px;
    height: 75px;
    margin: 0 160px 48px 89.8px;
    object-fit: contain;
    display: inline;
    float: left;
    position: relative;
}

.Menu {
    list-style-type: none;
}

.Rectangle-71 {
    margin: 2px 34px 50px 85px;
    border-radius: 5px;
    background-color: #971d62;
    width: 246px;
    height: 71px;
    font-family: BPGMrgvlovani;
    font-size: 24px;
    text-align: center;
    color: white;
    float: left;
    position: relative;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Rectangle-70 {
    margin: 2px 56px 50px 34px;
    border-radius: 5px;
    background-color: #971d62;
    width: 246px;
    height: 71px;
    font-family: BPGMrgvlovani;
    font-size: 24px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    position: relative;
    text-decoration: none;
}

.search {
    width: 42.6px;
    height: 42.6px;
    margin: 20.5px 30px 60px 30px;
    display: inline;
    float: left;
    position: relative;
}

.swiper-container {
    width: 1900px;
    height: 661px;
    margin: 44px 0 43px;
    padding: 294px 23px 293.4px 13.4px;
    object-fit: contain
  }

.title {
    margin: 51px 74px 29px 140px;
    font-family: BPGWEB001Caps;
    font-size: 48px;
    text-align: left;
    color: #2c2c2c;
    font-weight: bold;
}

.title2 {
    margin: 51px 74px 29px 140px;
    font-family: BPGMrgvlovani;
    font-size: 31px;
    color: #77be39;
}

.title3 {
    font-family: BPGWEB001Caps;
    font-size: 30px;  
    position: absolute;
    bottom: 8px;
    margin: 80px 80px 130px 160px;
    width: 277px;
    text-align: left;
}

.title4 {
    font-family: BPGWEB001Caps;
    font-size: 30px;  
    position: absolute;
    bottom: 8px;
    margin: 80px 80px 130px 80px;
    width: 366px;
    text-align: left;
}

.title5 {
    font-family: BPGWEB001Caps;
    font-size: 30px;  
    position: absolute;
    bottom: 8px;
    margin: 80px 80px 80px 160px;
    width: 600px;
    text-align: left;
}

.title6 {
    font-family: BPGWEB001Caps;
    font-size: 30px;  
    position: absolute;
    bottom: 8px;
    margin: 80px 80px 80px 50px;
    width: 450px;
    text-align: left;
}

.sesxi{
position: relative;
text-align: center;
color: white;
display: inline-block;
float: left;
}

.sesxi1 {
    width: 800px;
    height: 560px;
    margin: 28px 16px 108px 120px;
    border-radius: 20px;
    flex-basis: 50%;
    display: flex;
}

.sesxi2 {
    width: 800px;
    height: 560px;
    margin: 28px 120px 108px 16px;
    border-radius: 20px;
    flex-basis: 50%;
    float: left;
    position: relative;
    display: flex;
}

.news {
    display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-right: 50px;
	margin-left: 50px;
}

.news1{
    flex-basis: 25%;
	padding: 10px;
	min-width: 200px;
	margin-bottom: 50px;
	transition: transform 0.5s;
}

.new{
    width: 400px;
    height: 280px;
    padding: 38px 0 0;
    border-radius: 20px;
    flex-basis: 25%;
    float: left;
    position: relative;
    display: flex;
}

.div{
    display: inline-block;
    width: 50%;
}

.div2{
    display: inline-block;
    width: 50%;
    text-align: right;  
}